Language: C
ColumnLimit: 120
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterControlStatement: Never
  BeforeElse: false
  

IndentWidth: 8
TabWidth: 8
UseTab: Always

MaxEmptyLinesToKeep: 4
