mncc
mncc_asan
output_program
hello
*.dSYM/
*.o
*.swp
new
programb
test1b
test2b
hello
helo
hello.c
new
txt
hehe.c
new.c
hello
helo
mncc.dSYM	
new.txt		
program.txt	
test1b		
test2b
hello.c		
helo.c				
new			
programb	
temp.o		
test2		
txt
hehe.c		
hello.txt	
hi.c						
new.c			
test1.txt	
test2.txt
